* {
  text-decoration: none;
  text-decoration: none !important;
  color: #032c47d7 !important;
  
}


.navbar {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.39);
    padding: 20px;
    background-color: #a4b770;
    z-index: 999; /* Ensure the navbar appears above other content */
    
  
}

.logo {
  font-size: 1.7rem;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.navbarMenu {
  display: flex;
  list-style: none;
  margin: 10px;
}

.navbarMenu li {
  margin-right: 20px;
  font-family: Arial, sans-serif;
}


.navbarMenu li .logout, .loginsignup  {
  background-color: #6c784b !important;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.39);
  width: 100px !important;
  color: white !important;
}

.navbarMenu li .logout:hover, .loginsignup:hover {
  background-color: #778451 !important;
 
}

.navbarMenu li .about:hover {
  color: black;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.39);
}
.create-event, .user-profile{
  font-size: large;
  font-weight: bold;
}
.nav-container{
  display: flex;
  gap: 20px;
}
.create-event:hover, .user-profile:hover{
text-decoration: underline !important;
}

.containerHome {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 450px;
  padding: 10px;
}

.containerHome .headingSpace .cont {
  margin-top: 90px;
  border-radius: 10px;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 3%;
  height: 400px;
  overflow: hidden;
}
.containerHome .headingSpace .after-username {
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 90px;
  border-radius: 10px;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
}

.after-text{
color:white !important;
position: relative;
margin:40px;
top:200px;
left:300px
}
  .containerHome .headingSpace .after-username .after-login{
  object-fit: cover;
  width: 100%;
}
.containerHome .headingSpace .coverImgContainer .coverImg {
  height: 500px;
  width:800px; 
  margin: 0 auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.39);
 
  border-radius: 10px;
  margin-bottom: 0px;
  align-items: center;
 
}
.qoute{
  float: right;
  margin-right: 30px;
}
.containerHome .headingSpace .cont .headingContent {
 
  margin-top: 100px !important;
  margin-right: 10px ;
}

@media (max-width: 650px) {
  .logo {
    font-size: 1.2rem;
  }
  .navbarMenu li {
    font-size: 0.7rem;
  }
  .containerHome .headingSpace .cont {
    margin-top: 5px;
    display: block;
  }
  .containerHome .headingSpace .coverImgContainer .coverImg {
    height: 250px;
    width: 100%;
    margin: 0 auto;
  }
  .containerHome .headingSpace .cont .headingContent {
    font-size: 10px;
    align-items: center;
    justify-content: center;
  }
 
}
.entire {
  display: inline-block;
  max-width: 31%;
  height: 680px;
  gap: 10px;
  margin: 0 auto;
  margin-left: 30px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: relative;
}



.loading{
  height: 10vh;
}
.custom-card-image {
  height: 200px; /* Adjust the height as per your requirements */
  object-fit: cover;
}
.card{
  height: 575px;
  border: 1px solid #a4b770;

}
.before{
  background-color: #a4b770 !important;
 width: 40%;
 height: 80px;
 margin-left: 7%;
 margin-bottom: 10px;
 align-items: center;
justify-content: center;
border: none !important;

}
.before:hover{
  background-color: #808f56 !important;
}
.btn{
  color: #032c47d7 !important;
font-size: 20px !important;
font-weight: bold !important;
}
.attend-detail-container{
 
}

.post-page{
  width: 70% !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 20px !important;
}
.post-page-cont{
  margin-top: 100px;
}
.edit-post-btn , .delete-post-btn{
  background-color: #a4b770; ;
}
.edit-post-btn:hover , .delete-post-btn:hover{
  background-color: #707c4c;
}


.edit-post-page{
width:45%;;
margin: 0 auto !important;

align-items: center !important;
justify-content: center !important;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.39);
border: #a4b770; ;
margin-bottom: 15px;
}
.edit-post-page-form{
  margin-left: 10%;
margin-top: 100px;
  padding-left: 10px;
}


@media (min-width: 651px) and (max-width: 1024px) {
  .logo {
    font-size: 1.3rem;
  }
  .navbarMenu li {
    margin-right: 10px;
    font-size: 1rem;
  }
  .containerHome .headingSpace .cont {
    margin-top: 5px;
    gap: 5%;
  }
  .containerHome .headingSpace .coverImgContainer .coverImg {
    height: 250px;
    width:
350px;
margin-left: 50px;
}
}

.loginHeadline {
margin-top: 40px;
font-size: 40px;
text-align: center;
font-family: 'Open Sans', sans-serif;
color: #444;
}

.login,
.register {
max-width: 500px;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px;
background-color: #a4b770;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
margin-top: 100px;
}
.register input , .login input{
  border: 1px solid gray ;
 
  display: block;
  margin: 0 auto;
  padding: 20px ;
  margin-bottom: 5px ;

}
input,
button {
width: 100%;
padding: 10px;
margin: 10px 0;
border-radius: 5px;
border: none;
}
.log-in, .sign-up {
  margin: 0 auto;
  padding : 10px;
  display: block;
border: 1px solid black !important;
width: 100%;
background-color: #ffffff;
}

.log-in:hover, .sign-up:hover{
  background-color: #b7cb7e;
} 

button {
background-color: #868686;
color: #fff;
cursor: pointer;
transition: all 0.3s ease-in-out;
}

button:hover {
background-color: #535252;
}

button:active {
background-color: #141414;
}

.register {
display: none;
}

.heading {
text-align: center;
margin-top: 40px;
margin-bottom: 20px;
font-size: 24px;
font-family: 'Open Sans', sans-serif;
color: #444;
text-transform: uppercase;
}

.forNew:hover {
text-decoration: underline;
cursor: pointer;
}

.show-register {
display: block;
}

.show-login {
display: none;
}

div.content {
font-size: large;

margin-bottom: 10px;
}
.create-post-cont{
  width: 50%;
  margin: 0 auto;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
  margin-top: 100px;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.create-post-form {
display: block !important;
margin-left: 10%;

}
.quill{
  width: 80%;
}
.input-field {
width: 80%;
margin-bottom: 10px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
font-size: 16px;

}
.datetime-nums{
  display: flex;
  width: 80%;
  gap: 10px;

}

.file-input {
margin-bottom: 10px;
}

.editor {
margin-bottom: 10px;
}

.submit-btn {
  background-color: #a4b770 !important;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 4px;
font-size: 16px;
cursor: pointer;
width: 80%;
}

.post {
display: flex;
box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
border-radius: 4px;
padding: 20px;
margin-bottom: 20px;

  background-color: #e5e4e4; /* Define the background color for every second post */
}

.post .image {
width: 300px;
margin-right: 20px;
}

.post .image img {
width: 100%;
border-radius: 4px;
}

.post .texts {
flex-grow: 1;
}

.post .texts h2 {
font-size: 24px;
margin-bottom: 10px;
}

.post .texts .info {
font-size: 14px;
color: #888;
margin-bottom: 10px;
}

.post .texts .info a {
color: #333;
font-weight: bold;
text-decoration: none;
}

.post .texts .summary {
font-size: 16px;
color: #555;
line-height: 1.5;
}



.post .texts .summary:hover::after {
content: "";
}

.post-page {
width: 600px;
margin: 0 auto;
padding: 20px;
}

.post-page h1 {
font-size: 38px;
margin-bottom: 10px;
}

.post-page time {
font-size: 24px;
color: #888;
}

.post-page .author {
margin-bottom: 10px;
color: #555;
}

.post-page .image img{
  width : 90%;
}
.cont{
  margin-top: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.39);
 
}
time {
color: #888;
font-size: 14px;
margin-bottom: 10px;
}

.author {
color: #888;
font-size: 16px;
margin-bottom: 20px;
}





.delete-modal {
margin-top: 20px;
}

.delete-modal p {
margin-bottom: 10px;
}

.delete-modal button {
display: inline-block;
padding: 10px 20px;
margin-right: 10px;
background-color: #dc3545;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.delete-modal button:hover {
background-color: #a71d2a;
}

.location-details {
margin-top: 20px;
color: #888;
font-size: 14px;
}

.event-details {
margin-top: 10px;
color: #888;
font-size: 14px;
}

.loading {
display: flex;
align-items: center;
justify-content: center;
height: 300px;
font-size: 18px;
color: #888;
}


/* post page css */
.container-userprofile{
  margin-top: 100px;
  margin: 100px;
  width: 90%;
}

/* Styles for posted events */
.posted-events {
  float: left;
  width: 47%;
  margin-bottom: 20px;
  background-color: #a4b770 !important;
  padding: 10px;
  max-height:  500px;
  overflow-y: scroll;
}

.posted-events h2 {
  font-size: 18px;
  font-weight: bold;
}

.posted-events a {
  display: block;
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4px;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
}

.posted-events a:hover {
  background-color: #ebebeb;
}

/* Styles for attended events */
.attended-events {
  float: right;
  width: 47%;
  margin-bottom: 20px;
  background-color: #a4b770 !important;
  max-height: 500px;
  overflow-y: scroll;
  padding: 10px;
}

.attended-events h2 {
  font-size: 18px;
  font-weight: bold;
}

.attended-events a {
   width: 70%;
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4px;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
  height: 50%;
  margin-top: 10px;
  
}

.attending-posts-cont {
 
  border-radius: 100px !important;
 
}

.attending-posts {
  display: flex;justify-content: space-evenly;
}



.cancle-event{

  border: 1px solid red;
  color: #fff;
  cursor: pointer;
  width: 20%;
  margin: 10px;
  height: 50%;
  
}

.cancle-event:hover{
  background-color: #c85959;
  
}


















.footer {
  margin-top: 10vh;
  background-color: #a4b770;
  color: #000000;
  padding: 30px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.39);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 0 0 30%;
  margin-bottom: 30px;
}

.footer-section h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 0.9rem;
  line-height: 1.5;
}

.social-media-links {
  display: flex;
  margin-top: 10px;
}

.social-media-link {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 10px;
}

.footer-bottom {
  background-color: #222;
  padding: 10px;
  text-align: center;
  
}

.footer-bottom p {
  font-size: 0.8rem;
  margin: 0;
  color: white !important;
}
